OPENAI_API_KEY=openai_key

MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/
MONGODB_DATABASE=supp-bro
MONGODB_COLLECTION=chunks
MONGODB_VECTOR_INDEX=vector_index

PINECONE_API_KEY=pine_key
PINECONE_INDEX=supp-bro
PINECONE_NAMESPACE=hw3-pinecone-vector